In [ ]:
''' list of imports ''' 
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression 
from math import sqrt 
import os 
import numpy as np 
import pandas as pd 
import sqlite3 import sqlalchemy

In [ ]:
f = lambda x: 2 if x==0 else (x-1)
print(f(4))

In [ ]:
import regex as re

CLEANR = re.compile('<.*?>')
html = '<html><head> hello </head></html>'
cleantext = re.sub(CLEANR, '',html)
cleantext = cleantext.strip()
print(cleantext)

In [ ]:
s = '1256'
s = [int(x) for x in s]
print(s)

In [ ]:
lit = ['xyz', "vidhya", "Analytics"]
print(min(lit))

In [ ]:
student_groups = ['Amit', 'Bhuv', ['praya', 'bruva',['priya']]]

student_groups[2][2][0]

In [ ]:
for x in range(1,50,5):
    if (x % 5 == 0):
        print('divisible by 5')
    else:
        continue

In [ ]:
[1,2,3] + [4,5,6]

In [ ]:
i = 2
while True:
    if i%3 == 0 or i%4 == 0:
        break
    print(i)
    i += 2

In [ ]:
for i in range(5):
    if i%2==0:
        print(i, sep='x', end='')
    else:
        print(i, end='+')

In [ ]:
print(chr(ord("9")), "," , chr(ord("B")))

In [ ]:
num =12
if (10 < num and num < 20):
    print(True)

In [ ]:
set1 = {1,2,3}
set2 = {4,5,6}

print(str(set1) + str(set2))

In [ ]:
print(set1 , set2)

In [ ]:
[i**2 for i in range(-3,4) if bool(i)==True]

In [ ]:
def fast(x=[]):
    x.append(1)
    return x

print(fast())
print(fast())

In [ ]:
a = ['Apples', 'Oranges', 'Bananas']
b = [5, 3, 4]
c = [1.50, 2.25, 0.89]

#Desired output[('Apples', 5, 1.50),('Oranges', 3, 2.25),('Bananas', 4, 0.89)]
def dezire(fruits, quantities, prices):
    i = 0
    output = []
    for fruit in fruits:
        temp_qty = quantities[i]
        temp_price = prices[i]
        output.append((fruit, temp_qty, temp_price))
        i += 1
    return output

dezire(a,b,c)

In [ ]:
def print_alpha_nums(abc_list, num_list):
    for char in abc_list:
        for num in num_list:
            print(char, num)
    return

print_alpha_nums(['a', 'b', 'c'], [1, 2, 3])

In [ ]:
fruits = {'Apples': 5, 'Oranges': 3, 'Bananas': 4}

# fruit_names = [x for x in fruits.keys()]

fruit_names = [x for x in fruits.values()]

fruit_names

In [ ]:
SampleList = ['Jon', 'Kelly', 'Jessa']

SampleList.append("Scott")

print(SampleList)

SampleList[2] = "Adkins"
# SampleList.insert(2, "Scott")

print(SampleList)

In [ ]:
x = 0
if x!=10:
    print("#")
    if x<8:
        print("#")
    elif x==10:
        print("#")
    else:
        print("#")
else:
    print("#"*3)

In [ ]:
name = input()
print(name == " Robert ")

In [ ]:
i=0
while i < 1:
    print('Hello', end=", ")
    i += 1
else:
    print("World")

In [ ]:
Tupl = ['Python', 'Tuple']
print(tuple(Tupl))

In [ ]:
milk_left = "None"
if milk_left:
    print("Groceries trip pending!")
else:
    print("Let's enjoy a bowl of cereals")

In [ ]:

def put(x):
    return [6]
val = [0, 1, 2, 3, 4, 5]
y = put(val);
print(y)

In [ ]:
Dict = dict({1: 'Python', 2: 'Dictionaries'})
print(Dict)

In [ ]:
Dict = {'Name': 'Python', 1: [1, 2, 3, 4], 2: "hi"}
print(Dict)

In [ ]:
print("Hello","\nPython!")

In [ ]:
full_name = "robert method karamagi"
print(full_name.title())

In [ ]:
def sum(a,b):
    return a * b
    return a + b
print(sum(2,3))

In [ ]:
age = 19
print(not age > 18 and age < 20)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(nums[::-1])

In [ ]:
a = input()
b = input()
print(a + b * 3)

In [ ]:
print("Hello","World","Python", sep="#")

In [ ]:
print (5//4)

In [ ]:
def vagrant(var1, var2 =4, var3=5):
    variable = var1*var2*var3
    return variable

vagrant(3,5)

In [ ]:
import numpy as np

t = np.array([1,2,3,4, 7,8,3,4,2,4])

np.nonzero(t==8)[0][0]

In [ ]:
import numpy as np

t = np.array([1,1,1,2,2,3,8,3,8,8])

np.nonzero(t==8)[0][0]

In [ ]:
ava = [1,2,3,4, 7,8,3,4,2,4]

class Solution:
    def __init__(self, name):
        self.name = name 

    def poper(self):
        self.awa = self.name.pop()
        return  self.awa

print(Solution(ava).poper())

In [ ]:
class Father():
    name = 'Robert'
class Person(Father):
    def __init__(self, name):
        self.fathername = self.name
        self.name = name
    def introduce(self):
        print("My name is", self.name, "son of", self.fathername)

king = Person("Joffrey")
king.introduce()

In [ ]:
{x : x*x for x in range(1,10)}

In [ ]:
characters = ["Iron Man", "Spider Man", "Captain America"]
actors = ["Downey", "Holland", "Evans"]

# example output : [("IronMan", "Downey"), ("Spider Man", "Holland"), ("Captain America", "Evans")]

combiner = [(x,y) for x in characters for y in actors]

#zip(characters, actors)

In [ ]:
print(combiner)

In [ ]:
import numpy as np
vector = np.arange(10000)
matrix = vector.reshape(100, 100)

In [ ]:
matrix

In [ ]:
vector = np.arange(12)
m1 = vector.reshape(3, 4)

vector = np.arange(20)
m2 = vector.reshape(4, 5)

In [ ]:

def can_matrices_be_multiplied (matrix1, matrix2):
    rowsMat1, columnsMat1 = matrix1.shape
    rowsMat2, columnsMat2 = matrix2.shape

    if columnsMat2 == rowsMat1 :
        print('The matrices can be multipled!')
        return True
    else:
        return False
    
can_matrices_be_multiplied(m1, m2)

In [ ]:
num_list = [21, 13, 19, 3, 11, 5, 18]
num_list.sort()
print(num_list[len(num_list) // 2])

In [ ]:
my_list = [2, 'apple', 3.5]

In [ ]:
import numpy as np
a = np.array([1,2,3])
b = np.array([4,5,6])
c = a*b
d = np.dot(a,b)
c, d

In [ ]:
fruit_info = {
    'fruit': 'apple',
    'count': 2,
    'price': 3.5
}
my_keys = fruit_info.keys()
my_keys

In [ ]:
a = np.array([1,2,3,4])
print(a[[True, True, False, False]])

In [ ]:
import numpy as np
men = np.ones([1,2,3,4,5])
men

In [ ]:
def count_recursive(n=1):
    if n > 3:
        return
    print(n)
    count_recursive(n + 1)
    
count_recursive()

In [1]:
import math
num = ~0
num
#6&4,1|2, 8>>1, -16>>2, 1<<10, ~0,
#math.ceil(2.17) #, math.floor(3. 14),

-1

-1

-1

In [2]:
n, m = 2, 4
n, m

(2, 4)

(2, 4)

(2, 4)

In [ ]:
class ListNode:
    def __init__(self, data=0, next_node=None):
        self.data = data
        self.next_node = next_node
        
def merge_two_sorted_lists (L1, L2):
        # Creates a pTaceholder for the result
        dummy_head = tail = ListNode()
        while L1 and L2:
            if L1.data < L2.data:
                tail.next , L1 = L1, L1.next
            else:
                tail.next , L2 = L2, L2.next
            tail = tail.next
        # Appends the remaining nodes of Ll or L2
        tail.next = L1 or L2
        return dunmy-head. next

In [ ]:
n = ['maggi', '2', 'weather']
m = [1,2,'you', 'him', 'html']
numa = ListNode()
verv = numa.merge_two_sorted_lists(n, m)